<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436199523200-896nbq8lb7kut65kivu9hpnjlkqv66ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436199523200-896nbq8lb7kut65kivu9hpnjlkqv66ib</string>
	<key>API_KEY</key>
	<string>AIzaSyCOSQMn2f-cM9j5hUsLR652khbwc-heLRc</string>
	<key>GCM_SENDER_ID</key>
	<string>436199523200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDatn2022</string>
	<key>PROJECT_ID</key>
	<string>datn-kmt</string>
	<key>STORAGE_BUCKET</key>
	<string>datn-kmt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436199523200:ios:61a53ea775e95fbae5b765</string>
	<key>DATABASE_URL</key>
	<string>https://datn-kmt-default-rtdb.firebaseio.com</string>
</dict>
</plist>